.spiner_section {
  width: 100px;
  margin: auto;
  padding-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.folder-text {
  color: darkslategray;
}
.open-btn {
  background-color: crimson;
  color: white;
}
.open-btn:hover {
  background-color: crimson;
  border: none;
}

/* paginaton section design */
.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
  font-size: 1.2rem;
  gap: 5px;
}
.pagination .page-num {
  padding: 2px 12px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  text-decoration: none;
  background-color: blue;
  color: white;
}
.pagination .page-num:hover {
  background-color: blue;
  color: white;
}
.pagination .active {
  background-color: crimson;
  color: white;
}
.menu {
  text-decoration: none;
  padding: 2px 9px;
  color: black;
}
.page-style {
  background-color: gainsboro;
}
.page-style:hover {
  background-color: rgb(189, 189, 189);
}
.folder-icon {
  font-size: 68px;
}
.folder-card {
  box-shadow: 2px 1px 10px #0000005e;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.folder-card:hover {
  background-color: #ffa0008f;
  margin-top: -6px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.card-heading {
  text-transform: capitalize;
}
