.hero-image-container {
  padding: 5px;
  border-radius: 3px;
}
.hero-image {
  height: 242px;
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
}
.hero-btn-style {
  text-decoration: none;
  color: white !important;
}
.explore-btn:hover {
  padding: 7px 15px;
  transition: all 0.1s ease-in-out;
}
.feature-text {
  padding: 10px 8px;
  box-shadow: 1px 2px 0px #0f121b;
  border-radius: 3px;
}
.feature-icon {
  font-size: 55px;
  background: #262b3a40;
}
.feature-body p {
  color: #767676;
}
.Typewriter__wrapper {
  color: rgb(0, 242, 255);
}
.typewritter__style {
  color: tomato;
}

.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 300px;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}
.indicator {
  background: gray;
  border: 1px solid black;
  padding: 5px 10px;
  cursor: pointer;
  display: none;
}
.carousel {
  display: none;
}
.default-nav {
  display: none !important;
}
