.spiner_section {
  width: 100px;
  margin: auto;
  padding-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.folder-text {
  color: darkslategray;
}
.open-btn {
  background-color: orangered;
  color: white;
}
.open-btn:hover {
  background-color: rgba(255, 68, 0, 0.884) !important;
  color: black !important;
  border: 1px solid orangered !important;
}

/* paginaton section design */
.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  font-size: 1.2rem;
  gap: 5px;
}
.pagination .page-num {
  padding: 2px 12px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  text-decoration: none;
  background-color: blue;
  color: white;
}
.pagination .page-num:hover {
  background-color: blue;
  color: white;
}
.pagination .active {
  background-color: crimson;
  color: white;
}
.menu {
  text-decoration: none;
  padding: 2px 9px;
  color: black;
}
.page-style {
  background-color: gainsboro;
}
.page-style:hover {
  background-color: rgb(189, 189, 189);
}
