.hero-image-container {
  background-color: #8a8a8a;
  padding: 1px;
  border: 1px solid transparent;
  border-radius: 3px;
}
.hero-image {
  height: 450px;
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
}
.hero-btn-style {
  text-decoration: none;
  color: white !important;
}
.explore-btn:hover {
  padding: 7px 15px;
  transition: all 0.1s ease-in-out;
}
