.navbar-bg {
  background-color: #262b3a;
}
.navbar-bg a {
  color: wheat;
  font-size: 18px;
}
.link-style {
  text-decoration: none;
  color: black;
}
.link-style img {
  width: 94px;
  background: lavenderblush;
  border-radius: 5px;
}
.nav-link:hover {
  color: yellow;
}
.link-style:hover {
  color: yellow;
}
.toggle-dark-mode {
  padding: 0px 12px;
}
.toggle-dark-mode i {
  font-size: 30px;
}
.navbar_toggler_style {
  background-color: #2d3243;
  box-shadow: 1px 1px #1a1e29;
}
.total_image_section {
  background-color: rgb(27 32 44);
  cursor: default;
  border: 1px solid #8c959f57;
  outline: none;
}
.total_image_section:hover {
  background-color: rgb(27 32 44);
}

@media only screen and (max-width: 688px) {
  .collapse ul {
    text-align: left;
  }
  .collapse ul a li {
    background-color: #1b202c;
    padding: 3px 5px;
  }
}
