.navbar-bg {
  background-color: orangered;
}
.navbar-bg a {
  color: wheat;
  font-size: 18px;
}
.link-style {
  text-decoration: none;
  color: black;
}
.link-style img {
  width: 33px;
  background: lavenderblush;
  border-radius: 5px;
}
.link-style:hover {
  color: black;
}
