.submit-btn {
  width: 29%;
  text-align: center !important;
  background-color: #ed1450;
  border: 1px solid transparent;
  border-radius: 3px;
  color: white;
  box-shadow: 1px 1px 2px #4b4b4b;
  padding: 2px 0px;
  margin-right: 19px;
}
.error-msg {
  color: red;
}
.data-entry-icon-style {
  color: gray;
  cursor: pointer;
}
.data-entry-icon-style:hover {
  color: crimson;
}

.offCanvas-style {
  background: yellowgreen;
  box-shadow: 0px 1px 6px black;
}

@media only screen and (max-width: 688px) {
  .text-area-input {
    width: 90%;
  }
  .data-entry-input {
    width: 90% !important;
  }
  .submit-btn {
    width: 90% !important;
  }
}
