.App {
  text-align: center;
}
body {
  background-color: #1b202c;
  color: #f7f7f7;
}
/* background-color: #1B202C;  ---> main
background-color: #262B3A; -----> card background
color: #F7F7F7;  -----> sub color; */
